<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net40-client" />
  <package id="NuGet.Core" version="2.14.0" targetFramework="net40-client" />
  <package id="System.IO" version="4.3.0" targetFramework="net45" />
  <package id="Tobii.EyeX.Client" version="1.8.504" targetFramework="net40-client" />
  <package id="Tobii.EyeX.Framework" version="1.8.503" targetFramework="net40-client" />
  <package id="Tobii.Interaction" version="0.7.3" targetFramework="net40-client" />
  <package id="Tobii.Research.x86" version="1.6.1.987" targetFramework="net40-client" />
  <package id="Tobii.StreamEngine" version="2.2.2.363" targetFramework="net40-client" />
</packages>